<div class="message">
¡Hola! ¿Cómo estás? Soy tu asistente. ¿Qué operación deseas realizar hoy? (Escribe el número de la operación que desees realizar)
  <ol>
    <li>Consulta de Depósito</li>
    <li>Realizar solicitud de rollos de papel</li>
    <li>Consulta de indicadores económicos</li>
  </ol>
</div>
 <hr>
<% @messages.each do |message|%>
  <div class="message"><%= message.text %></div>
  <hr>
<% end %>