<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-12 col-md-8">
      <div class="card">
        <div class="card-header">
          Chat Bot
        </div>
        <div class="card-body">
          <div class="messages">
            <%= render partial: "home/messages", assings: {messages: @messages} %>
          </div>
          <%= form_with url: intentions_path, method: :post do |form| %>
            <div class="row">
              <div class="col-md-10">                
                <%= form.text_field :input_text, value: "", class: "form-control", placeholder: "Escribe tu mensaje",required: true %>
              </div>
              <div class="col-md-2">                
                <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                  Enviar
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function scrollMessagesToBottom() {
    var messagesContainer = document.querySelector(".messages");
    messagesContainer.scrollTop = messagesContainer.scrollHeight;
  }

  window.onload = function() {
    scrollMessagesToBottom();
  };
</script>
