  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 col-md-8">
        <div class="card">
          <div class="card-header">
            Chat Bot
          </div>
          <div class="card-body">
            <div class="messages">
              <div class="message">Mensaje 1</div>
              <div class="message">Mensaje 2</div>
              <div class="message">Mensaje 3</div>
            </div>
            <form>
              <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="Escribe tu mensaje">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
