  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 col-md-8">
        <div class="card">
          <div class="card-header">
            Chat Bot
          </div>
          <div class="card-body">
            <div class="messages">
              <div class="message">¡Hola! ¿Cómo estás? Soy tu asistente. ¿Qué operación deseas realizar hoy? (Escribe el número de la operación que desees realizar)</div>
              <ol>
                <li>Consulta de Depósito</li>
                <li>Realizar solicitud de rollos de papel</li>
                <li>Consulta de indicadores económicos</li>
              </ol>
            </div>
            <form>
              <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="Escribe tu mensaje">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
