@import "bootstrap";


.messages{
    max-height: 500px;
    overflow-y: scroll;
}

.message {
    white-space: pre-wrap;
}

.table-overflow { overflow: auto; height: 100px; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }